<footer>
  <p>© 2024 Ananya Kulkarni. All rights reserved.</p>
  <ul class="social-links">
    <li>
      <a href="https://github.com/ananya12k"
        ><i class="fab fa-github"></i> GitHub</a
      >
    </li>
    <li>
      <a href="https://linkedin.com/in/ananya-kulkarni-609213244"
        ><i class="fab fa-linkedin"></i> LinkedIn</a
      >
    </li>
    <li>
      <a href="mailto:ananyakulkarni2103@gmail.com"
        ><i class="fas fa-envelope"></i> Email</a
      >
    </li>
    <li>
      <a href="https://medium.com/@ananyakulkarni1203"
        ><i class="fab fa-medium"></i> Medium</a
      >
    </li>
    <li>
      <a href="https://scholar.google.com/citations?user=GddubbUAAAAJ"
        ><i class="fas fa-graduation-cap"></i> Google Scholar</a
      >
    </li>
  </ul>
</footer>
