.skills .skill-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills .skill-group .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skills .skill-group .skill i {
  font-size: 30px;
  margin-right: 10px;
}

.skills .skill-group .skill span {
  font-size: 16px;
}
