<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}" />
    <title>Document</title>
  </head>
  <body>
    <div class="skills">
      {{- $skills := .Get "skills" -}}
      <!-- Get the skills key from the shortcode parameter -->
      {{- with .Site.Data.skills[$skills] }}
      <!-- Use $skills as the key to access the data -->
      <div class="skill-group">
        {{- range .items }}
        <!-- Iterate over the items in the selected skill group -->
        <div class="skill">
          <i class="devicon {{ .icon }}"></i>
          <!-- Display the icon -->
          <span>{{ .name }}</span>
          <!-- Display the name of the skill -->
        </div>
        {{- end }}
      </div>
      {{- else }}
      <p>No skills found.</p>
      <!-- In case there is no matching data -->
      {{- end }}
    </div>
  </body>
</html>
