<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/static/css/styles.css' }}" />
    <title>Document</title>
  </head>
  <body>
    <div class="skills">
      {{- $skills := .Get "skills" -}} {{- with .Site.Data.skills[$skills] -}}
      <div class="skill-group">
        {{- range .items -}}
        <div class="skill">
          <i class="devicon {{ .icon }}"></i>
          <span>{{ .name }}</span>
        </div>
        {{- end -}}
      </div>
      {{- end -}}
    </div>
  </body>
</html>
